input{
	color: black;
}

textarea{
	color:black;
	font-size: .7rem;
}

#intro{
	text-align: center;
}

#characterList{
	width:50%;
	height: 100px;
	resize: none;
}

#sceneText{
	display: none;
	text-align: center;
}

#rawText{
	width: 50%;
	height: 200px;
	resize: none;

}

#actNum{
	width: 35px;
	margin-left: 10px;
}

#sceneNum{
	width: 35px;
	margin-left: 10px;
}

#delineateLines{
	display: none;
	position: relative;
	white-space: pre-wrap;
}

#delineateLines h1{
	text-align: center;
}

#highlightChar{
	font-size: 1.5rem;
	display: inline-block;
	color: red;
}

#stageDirections{
	display: none;
}

.highlightedDirections{
	color: red;
}

#entrancesExits{
	display: none;
	text-align: center;
}

#entrancesExitsText{
	width: 50%;
	height: 150px;
}

#offStage{
	width: 30%;
	height: 75;
	size: 8;
	color: black;
}

#onStage{
	width: 30%;
	height: 75;
	size: 8;
	color: black;
}

#onStagePanel{
	width: 45%;
	position:relative;
	display: inline-block;
}

#offStagePanel{
	width: 45%;
	position:relative;
	display: inline-block;
}

#markupComplete{
	display: none;
	text-align: center;
}

#pmlOutput{
	width: 70%;
	height: 200px;
}



#entrancesExits button{
	vertical-align: top;
}

#makeHeader{
	display: none;
	text-align: center;
	white-space: pre-wrap;
}

#makeHeader p{
	margin-bottom: 0px;
}

.makeHeaderClick{
	color: #4CABFF;
}

