<h1>Welcome to PlayAnalyzer.com!</h1>
<p>Play analysis is a centeral part of the production of a play for every playwright, performer and member of the design/production team. However, the tendancy to rely on physical scripts for practical and logistical reasons throughout much of the production process has meant that these analyses have stayed analogue as well.</p>
<p>PlayAnalyzer.com is a free service which can help theatrical artists explore the text of a play in ways previously unavialable through automated analysis.  By going through a simple <a href="/markup.html">markup process</a> the play will be accessible by the entire team can create visualizations and extract metadata information about the text which can help shape the direction of the production.</p>

<h1>How do I get started?</h1>
<p>Before you take the time to mark up a script (given the appropriate permissions from the author) we encourage you to use one of the texts in our <a href="https://github.com/kevinmkarol/play_analyzer_play_repository">collection of public domain plays</a> to see the types of insights the <a href="/analyzer.html">analyzer</a> can provide.  If you think the tools on this site would be useful for a project you're working on, use the <a href="/markup.html">markup assistant</a> to quickly convert your script into PML so that you have access to the ever expanding toolset PlayAnalyzer.com offers. </p>


<h1>Have a bit of programming experience?</h1>
<p>This site is built on a RESTful server which can be directly queried in order to do broader and more-in depth play analysis.  Check out the <a href="http://docs.playanalyzer.com">API documentation</a> to get started!</p>

<h1>Feedback?</h1>
<p>We'd love to here it!  <a href="mailto:kevinmkarol+playAnalyzerHome@gmail.com">Send us a note.</a></p>
