<div id="intro">
	<p id="introText">Welcome to the PlayAnalyzer.com markup assistant!  In order to use the analyzer on this site the text of the play you want to work with has to be marked up into a format called <a href="http://docs.playanalyzer.com/pml/">Play Markup Language (PML).</a>  Although it's possible to convert a play to PML by hand this markup assistant helps to automate the process.  Through a series of binary choices you will quickly move through the raw text and end up with a new file that the analyzer can understand.</p>
	<textarea id="characterList">To get started, enter a comma seperated list of all characters in the show.</textarea><br>

	<button id="submitCharacters">Let's Get Started!</button>
</div>

<div id="sceneText">

	<textarea id="rawText">Paste the raw text of a scene from the show into this box.</textarea><br>
	Act:<input type="number" id="actNum" step="1" min="0"  value="0" />
	Scene:<input type="number" id="sceneNum" step="1" min="0" value="0" /><br>
	<div id="asFailMessage"></div>
	<button id="charactersBack">Back to Characters</button><button id="submitRawText">Start Markup</button>

</div>

<div id="delineateLines">
	<h1>Use your keyboard.  Does this indicate a line of dialogue? Forward arrow for yes, backwards arrow for no, up or down arrow to go back.</h1><br><br><br>
	<div id="delineateText" disabled></div>
	<div id="delineateControls">
  </div>
</div>


<div id="stageDirections">
	<p>Double click the first and last words of any text portions that are not spoken to highlight them in red.  Hit C to clear the selections. Forward arrow to advance, backward arrow to go back.</p>
	<h1 id="directionCharacterName"></h1>
	<div id="highlightStageDirections" disabled></div><br>
</div>

<div id="entrancesExits">
	<p>If characters enter or exit during this stage direction, move them appropriately. Forward arrow to advance to next stage direction, backward arrow to go back.</p>
	<textarea id="entrancesExitsText" disabled></textarea><br>
	<div id="offStagePanel">
	  <p>Offstage:</p><select id="offStage" multiple></select>
	  <button id="enterStage">Enter</button>
  </div>
  <div id="onStagePanel">
	  <p>Onstage:</p><select id="onStage" multiple></select>
	  <button id="exitStage">Exit</button><br>
  </div>
</div>


<div id="markupComplete">
	<p>All done!  Copy the text below into a file and analyze away.</p>
	<textarea id="pmlOutput"></textarea><br>
  <button id="nextScene">Markup Next Scene</button>
</div>