<html>
	<head>
    <link rel="shortcut icon" href="/images/fav.png" type="image/png" />
		<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/markup.css">
		<link href="/blog/rss.xml" rel="alternate" type="application/rss+xml" title="{{site.blog_title}}" />
		<title>{{site.blog_title}}</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		{% include header.html %}

		<div id="content">
		  {% include markup_content.html %}
	  </div>


	</div>
	{% include googleana.html %}
	<script type="text/javascript" src='/js/jquery.min.js'></script>

	<script type="text/javascript" src='/js/markup/markup_inputs.js'></script>
	<script type="text/javascript" src='/js/markup/delineation_advanced.js'></script>
	<script type="text/javascript" src='/js/markup/stage_directions.js'></script>
	<script type="text/javascript" src='/js/markup/entrances.js'></script>
	<script type="text/javascript" src='/js/markup/pml_output.js'></script>
	<script type="text/javascript" src='/js/markup/header.js'></script>

	<script type="text/javascript" src='/js/markup/markup_state_machine.js'></script>
</body>
</html>
